*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin-top: 0;
    box-shadow: 2px 1px 2px rgba(202, 202, 202, 0.8);
}
/* .main .navbar .container-fluid .profile .profile-img{
width: 50px;
height: 50px;
border: 3px solid rgb(10, 10, 10);
border-radius: 50%;
margin-left: 10px;
} */
.main .navbar .container-fluid .profile .profile-img img{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(139, 198, 253);
    border-radius: 50%;
    margin-left: 10px;
object-fit: cover;
}



.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: end !important;
}




.nav{
    width: fit-content;
    height: 100vh;
    margin-top: 0;
    box-shadow: 2px 1px 2px rgba(202, 202, 202, 0.8);
}

.navbar-expand-lg .navbar-nav {
    flex-direction:column !important;
}

.navbar-expand-lg .navbar-nav .nav-item .active{
    color:rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #c4e8ff;
}